header{
    background-color: #000000;
}

/* .container h1{
    color: #fff;
} */

.primario{
    color: #fff;
}

nav li a{
    text-decoration: none;
    color: #fff;
}


@media screen and (max-width: 820px) {
    .mapa iframe {
        width: 375px;
    }
}


@media (max-width: 767px){
    .imagem img{
        height: 190px;
        margin-bottom: 50px;
        
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .imagem img {
        height: 18.75em;
        margin-right:  70px;
    }
}


@media (min-width: 1024px) and (max-width: 2024px) {
    .imagem img {
        height: 300px;
        margin-right:  70px;
    }
}


@media (min-width: 1024px) and (max-width: 1024px) {
    .ba img {
        height: 180px;
    }
}




